# Server config
PORT=3000
NODE_ENV=development

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=beverly_pms

# JWT
JWT_ACCESS_SECRET=your_access_token_secret_here_make_it_long
JWT_REFRESH_SECRET=your_refresh_token_secret_here_make_it_long

CLIENT_URL=http://localhost:5173
